In [2]:
from sorting import *
# Exemple d'utilisation
T = [7, 15, 23, 26, 9, 12, 14, 29, 0, 13, 1, 6, 16, 27, 20, 10, 5, 28, 24, 30, 25, 8, 22, 21, 18, 3, 11, 2, 19, 17, 4]
tri_bulles(T)

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30]

In [17]:
from sorting import *
# Exemple d'utilisation
T = [7, 15, 23, 26, 9, 12, 14, 29, 0, 13, 1, 6, 16, 27, 20, 10, 5, 28, 24, 30, 25, 8, 22, 21, 18, 3, 11, 2, 19, 17, 4]
n= len(T)
tri_selection(T, n)

[0,
 1,
 2,
 3,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 4]

In [3]:
from sorting import *

tri_insertion(T)

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30]

In [ ]:
import numpy as np
tri_insertion(T,n)

In [14]:
import sorting as so
print(so.tri_bulles(T))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]

In [13]:
from sorting import tri_bulles as tb

print (tb(T))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]